<h1>New performance report</h1>

<%= render "form", performance_report: @performance_report %>

<br>

<div>

  <% if params[:administrator_mail].present?%>
       <%= link_to "Back to performance reports", administrator_performance_reports_path %> 
  <% elsif params[:supervisor_mail].present?%>
       <%= link_to "Back to performance reports", supervisor_performance_reports_path %>
  <%end%>



</div>
