<p style="color: green"><%= notice %></p>

<h1>Executive reports</h1>

<div id="executive_reports">
  <% @executive_reports.each do |executive_report| %>
    <% if executive_report.performance_report.id == params[:performance_report_id].to_d %>
      <%= render executive_report %>
      <p>
        <%= link_to "Show this executive report", executive_report %>
      </p>
    <%end%>
  <% end %>
</div>


<%= link_to "New executive report", new_executive_report_path %>
