<h1>New executive report</h1>

<%= render "form", executive_report: @executive_report %>

<br>

<div>
  <%= link_to "Back to executive reports", supervisor_performance_report_executive_reports_path %>
</div>
