<h1>New comment</h1>

<%= render "form", comment: @comment %>

<br>

<div>

  <p>
    <% if params[:executive_mail].present?%>
      <%= link_to "Back to comments", executive_assign_ticket_ticket_chat_comments_path %>
    <% elsif params[:supervisor_mail].present?%>
      <%= link_to "Back to comments", supervisor_ticket_chat_comments_path %>
    <% elsif params[:administrator_mail].present?%>
      <%= link_to "Back to comments",administrator_ticket_chat_comments_path %>  
    <%end%>
  </p>


</div>
