<div id="<%= dom_id ticket_list %>">
<p>
    <strong>User Mail:</strong>
    <%= ticket_list.user_mail %>
  </p>

<p>
    <strong>Ticket:</strong>
    "<%= ticket_list.ticket.title %>"
  </p>

</div>
